@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:ital,wght@0,400;0,700;1,100;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
 
}

header {
  background-color: #1f2937;

}


.hero {
  background-image: url(./images/hero.jpg);
  width: 100%;
  height: 450px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  

}


.gallery {
    background-color: white;
    padding: 50px 0;
}

.container {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    padding: 1rem;

}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    border-radius: 10%;
}

.brew-img {
    width: 100%;
    border-radius: 10%;
}

footer {
    background-color: #1f2937;
    color: white;
    padding: 2rem;
    text-align: center;
}

.hvr-glow {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
  }
  .hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  }

  .quote-container {
    background-color: #E5E7EB;
    display: flex;
    padding: 100px 300px;
    flex-direction: column;
    gap: 10px;
  }

  .quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 100px;
  }

  .quote-em {
    font-weight: 700;
  }

  .quote-name {
    font-weight: 700;
    align-self: flex-end;
  }